@font-face{
    font-family: 'Mathlete';
    src: url(../fonts/Mathlete-Skinny.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background:url('../images/bg.png');
    /*padding-bottom:15vh;*/
}

/*HEADER*/
#top{
    font-family:'Sans serif';
    font-size:large;
    text-transform: uppercase;
    position: relative;
    margin:0;
    /*padding: 4px 1px 2px 1px;*/
    background-color:white;
    display:flex;
}

img#moksha-logo{
    display:inline;
    height: 50px;
    margin: 10px 40px;
    /*width: 80px;*/
}

nav{
  /*padding-left:3vw;*/
    margin: 0;
    margin-top: -10px;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

nav ul{
    display: flex;
    flex-flow: row;
}

nav li{
     display: block;
     font-family: "Mathlete";
     font-size: 2em;
     padding-left:10%;
    list-style-type: none;
}

.login{
    position: absolute;
    font-family: "Mathlete";
    font-size: 2em;
    top:40%;
    transform:translateY(-50%);
    right: 10vw;
    
}

.title{
    background: transparent;
    text-align: center;
    /*font-family: "Mathlete";*/
    /*font-size: 2em;*/
}


.title h2{
    width:20%;
    font-family: "Mathlete";
    font-size: 2.5em;
    font-weight: bold;
    background: url('../images/title_bg.png');
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom:20px;
    display: inline-block;
}

.title .parent-heading{
    margin: 0;
    width: 20%;
    background-size: 100% 100%;

}

ol{
    margin-left: 20px;
}
/*.parent-heading
{
	background-color:yellow;
	margin-right:0;
}

.child-heading
{
	background-color: greenyellow;
	margin-left:0;
}*/

/*EVENT PAGE*/
.event-content{
    display:flex;
    height: 500px;
}

.main-content{
    height:unset;
    margin-top:0;
	  background:white;
}

.main-content>.main-description,.main-content>.rules-prizes{
    padding:20px;
    width:21%;
    font-size:0.8em;
    font-family:serif;
}

.rules, .prizes{
    margin: 0;
}

section header h3{
    margin-bottom: 20px;
}

h3{
	font-size:x-large;
}

section.comp-category.event{
    margin-right: 10%;
}

section.comp-category.blue{
    background: #B3E5FC;
}

div.large-event-pic{
  /*  width:44.5%;*/
  padding-left: 4px;
  padding-right: 4px;
}

div.large-event-pic>img{
    margin: unset;
    width: 100%;
    height: 492px;
    border:4px solid yellow;
}

img.small-event-pic{
    position: relative;
    width: 250px;
    height: 220px;
    border: 4px solid  yellow;
    margin-top:5%;
    margin-left: 25%;
}

.event-content>.left-clickable-box, .event-content>.right-clickable-box{
    position: 	relative;
    background:url(../images/border.png);
    background-size: 100% 100%;
    min-width:10%;
}

.arrow{
    margin-left:30%;
    position: absolute;
    top:50%;
    width:30%;
    transform:translateY(-40%);
}

.left-clickable-box>img.arrow{
	transform:rotate(180deg);
}

.register-btn{
    position: relative;
    margin-top:20%;
    background:yellow;
    font-size:large;
    border:none;
    padding:10px;
    width:100%;
    font-family: "Mathlete";
    font-size: 3em;
}


@media(max-width:1000px)
{
	.event-content{
		height: 70%;	
	}	
	
	.main-content{
		flex-flow:column;	
	}
	
	.main-content>.main-description,.main-content>.rules-prizes{
      width:80%;
      margin-left: auto;
      margin-right: auto;
	}
    
    .large-event-pic{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

h1, h2, h3{
    font-size:xx-large;
	font-family: Mathlete, serif;
}