@font-face{
	font-family: Mathlete;
	src: url(../fonts/Mathlete-Skinny.otf);
}
@font-face{
	font-family: "Home School";
	src: url("../fonts/Home School.otf");
}

*{
	margin: 0;
	padding: 0;
}

body{
    background:url('../images/bg.png');
    /*padding-bottom:15vh;*/
}

.logo-img{
	display:none;
	position: absolute;
	left: calc(50% - 175px);
	width:350px;
	padding:0px!important;
	height:auto;
}

#headline{
	position:absolute;
	width:100%;
	text-align:center;
	top:300px;
	font-family:"Home School";
	font-size: 50px;
	color: #DECB63;
}

#schedule{
	position:absolute;
	width:100%;
	text-align:center;
	top:400px;
	text-decoration:none;
	font-size:24px;
	color:#DECB63;
}
/*.logo-img[data-mok="1"]{
	z-index:6;
}
.logo-img[data-mok="2"]{
	z-index:5;
}
.logo-img[data-mok="3"]{
	z-index:4;
}
.logo-img[data-mok="4"]{
	z-index:3;
}
.logo-img[data-mok="5"]{
	z-index:2;
}
.logo-img[data-mok="6"]{
	z-index:1;
}*/

p{
	font-family:'Maven Pro', sans-serif;
	padding:2%;

}
/*
********************************************************
					HEADER
********************************************************
*/
#top{
	font-family: 'Maven Pro', sans-serif;
  font-size:large;
	text-transform: uppercase;
	position: relative;
	margin:0;
	background-color:white;
	display:flex;


}

img{
    display:inline;
    height: 50px;
    margin: 0;
    padding: 10px 40px;
    /*width: 80px;*/
}

nav{
  /*padding-left:3vw;*/
	position: relative;
	margin: 0;
	display: flex;
	flex-direction:column;
	justify-content:center;
}

nav ul{
	/*height: 100%;*/
    display: flex;
    flex-flow: row;
	position: absolute;
    transform:translateY(30%);
}

nav li{
	 display: block;
	 font-family: "Mathlete";
	 font-size: 1.5em;
	 /*padding-left:5%;*/
	 padding-right: 7%;
   list-style-type: none;


}
nav li:hover
{
	cursor:pointer;
}

.login{
    position: absolute;
    font-family: "Mathlete";
    font-size: 1.5em;
	padding-left:2.5%;
	padding-right:2.5%;
    top:40%;
    transform:translateY(-50%);
    right: 10vw;

}
.login:hover
{
	cursor:pointer;
}
.signout{
    position: absolute;
    font-family: "Mathlete";
    font-size: 1.5em;
	padding-left:2.5%;
	padding-right:2.5%;
    top:40%;
    transform:translateY(-50%);
    right: 10vw;

}
.signout:hover
{
	cursor:pointer;
}
.title{
    background: transparent;
    text-align: center;
}


.title h2{
    width:20%;
    font-family: "Mathlete";
    font-size: 2.5em;
    font-weight: bold;
    background: url('../images/title_bg.png');
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 0px 0;
    margin-bottom:20px;
}

#toggle{
	display:none;
}

#panel{
	margin:0;
}

.submenu{
	display:flex;
	flex-flow:column;
	color: grey;
}

.submenu li:hover{
	color:#B3E5FC;
}
/*
*********************************************************
				COMPETITIONS
*********************************************************
*/
.content{
	width: 80%;
	/*background-color: tomato;*/
	margin-top: 30px;
	padding: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.content .event{
	padding: 1%;
	width:20%;
	background-color: white;
	/*margin-right: 30px;*/
	margin-top:5px;
	font-size: .8em;
	position: relative;
}

.content .event h1{
	margin-bottom: 10px;
	font-family: "Mathlete";
	font-size: 3em;
}

.content .event p{
	font-family: 'Maven Pro', sans-serif;
	margin-bottom: 10px;
}

.content .event ul{
	font-family: 'Maven Pro', sans-serif;
	list-style: none;
	font-weight: bold;
}

.content .event .arrow{
	width: 20px;
	height: 25px;
	position: absolute;
	top: 350px;
	right: -20px;
}

.content .event .pokemon{
	margin: 0;
}

 .content .event .pokemon[alt="jigglypuff"]{
	height :130px;
	width: 140px;
	margin-top: 15%;
	margin-left: 20%;
}

 .content .event .pokemon[alt="oshowatt"]{
	height :120px;
	width: 110px;
	margin-top: 10%;
	margin-left: 20%;
}

 .content .event .pokemon[alt="togepi"]{
	height : 20%;
	width: 50%;
	margin-top: 30%;

	height :100px;
	width: 90px;
	margin-top: 20%;
	margin-left: 20%;
}

 .content .event .pokemon[alt="snorlax"]{
	height :130px;
	width: 160px;
	margin-top: 15%;
	margin-left: 10%;
}

.pokemon[alt="comingsoon"]{
	width: 250px;
	height: auto;
}

.content .border{
	padding: 0;
	margin: 0;
	display: inline-block;
  margin-top:5px;
	width: 4%;
	background: url('../images/border.png');
	background-size: 100% 100%;
}



/*
**************************************************************
					EVENT CATEGORY PAGE
**************************************************************
*/

#event-category-page{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	/*z-index: 100;*/
}

#event-category-page .main-content section .pokemon{
	min-height: 20vh;
	margin-top: 10vh;
}

#event-category-page .main-content section .small-event-pic{
	width: 120%;
	height: 230px;
	padding: 0;
	margin-left: 0;
}

#event-category-page{
	display:flex;
	justify-content: center;
}
#event-category-page>.event{
	position:relative!important;
	z-index:1;
	width:47%!important;
	height:430px;
	color:#FFF;
	font-weight:bold;
	text-shadow:1px 1px #000;
}
#event-category-page .border{
	width:2%!important;
}
#event-category-page p{
	font-size:15px;
}
#event-category-page .register-btn{
	margin-top:0px!important;
}
/*
**************************************************************
							EVENTS
**************************************************************
*/


#event-page{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.section-desc{
		white-space: pre-wrap;
}

.event-content{
	margin: 0;
	margin-top:30px;
	padding: 0;
    display:flex;
		flex-wrap: wrap;
}

.main-content{
    height:unset;
    margin-top:0;
	  background:white;
}

.main-content>.main-description,.main-content>.rules-prizes{
    padding:20px;
    width:21%;
    font-size:0.8em;
    font-family: 'Maven Pro', sans-serif;
}

.rules, .prizes{
    margin: 0;
}

section header h3{
    margin-bottom: 20px;
    /*z-index: 101;*/
}

h3{
	font-size:x-large;
}

section.comp-category.event{
    margin-right: 10%;
}

section.comp-category.blue{
    background: #B3E5FC;
}

div.large-event-pic{
  /*  width:44.5%;*/
	overflow:hidden;
  padding-left: 4px;
  padding-right: 4px;
	width:70%;
}

div.large-event-pic>img{
    /*margin: unset;*/
    margin:0;
    padding: 0;
    width: 100%;
    /*height: calc(100% - 8px);*/
		height:80%;
    border:4px solid yellow;
}

img.small-event-pic{
    position: relative;
    /*width: 250px;*/
    /*height: 220px;*/
    border: 4px solid  yellow;
    margin-top:5%;
    margin-left: 25%;
}

.event-content>.left-clickable-box, .event-content>.right-clickable-box{
    position: 	relative;
    background:url(../images/border.png);
    background-size: 100% 100%;
    min-width:10%;
}

/*#event-page img.arrow, #event-page img.arrow{
    margin-left:30%;
    position: absolute;
    top:50%;
    width:30%;
    transform:translateY(-40%);
}*/

#event-page >.left-clickable-box>img.arrow, #event-page >.left-clickable-box>img.arrow{
	transform:rotate(180deg);
}

.register-btn{
    position: relative;
    margin-top:20%;
    background:yellow;
    font-size:large;
    border:none;
    padding:10px;
    width:100%;
    font-family: "Mathlete";
    font-size: 3em;
}
.register-btn:hover
{
	cursor:pointer;
}

h1, h2, h3{
    font-size:xx-large;
	font-family: Mathlete, serif;
}

#event-page>.event>ul>li:hover
{
	cursor:pointer;
}


.event[data-for="shaan"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/Shaan_Web_Spons.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="shaan"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

.event[data-for="abish"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/abish.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="abish"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

.event[data-for="tvf"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/TVF.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="tvf"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

.event[data-for="elektrovertz"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/Elektrovertz.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="elektrovertz"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

.event[data-for="tomorrowland"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/TomorrowlandOnCampus.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="tomorrowland"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

.event[data-for="avalanche"]::before{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background: url("../images/Avalanche.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.event[data-for="avalanche"]::after{
	content:'';
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

/*
******************************************************
				ACCOMODATION
******************************************************
*/

#contact-page>section,#sponsors-page>section,#accomodation-page>section{
	padding:1%;
	font-family : 'Maven Pro', sans-serif;
}

#accomodation-page>section>ol{
	margin:3%;
	padding-top:0;
	background: white;
}

#accomodation-page>section>ol>li{
	padding:0.5%;
}

/*
*****************************************************
				CONTACT
******************************************************
*/
#contact-page{
	min-height: 65%;
}

#contact-page.content
{
	padding-bottom:15px;
	background-color:#FFF;
}

#contact-page div.contact{
	font-family: 'Maven Pro', sans-serif;
	font-size:18px;
	padding: 1%;
}

#contact-page>.main-content{
	width: 100%;
	padding-left:5%;
}

#contact-page ul{
	margin-left: 2%;
	font-size:15px;
}

#contact-page	li{
	list-style-type: none;
}

p.contact-text {
	font-family: Mathlete, serif;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 1px;
}

/*
****************************************************
				MEGAEVENT
****************************************************
*/

@font-face{
	font-family:'Home School';
	src:url('../fonts/Home School.otf');
}

#mega-events{
	position: absolute;
	background:whitesmoke;;
	display: flex;
	flex-flow:column;
	width:80%;
	left:10%;
	font-size: large;
}

#mega-events>img{
	margin-left: auto;
	margin-right: auto;
}

#event-logo{
	width:20vw;
	height: 20vh;
}

#megaevent-pic{
	width:70vw;
	height: 50vh;
	margin-left: 1.5vw;
}

#mega-events>p{
	text-align: center;
	font-family: 'Home School';
	font-size: xx-large;
}

#small-events{
	display: flex;
	flex-flow:wrap;
}

.small-events-list{
	max-width:30%;
	margin:1%;
}

.small-events-list>img{
	width:100%;
	height: 25vh;
	padding: 0;
}

/*
*******************************************************
					SPONSORS
*******************************************************
*/

#sponsors-page{
	width: 80%;
}
#sponsors-page div.row{
	text-align: center;
	display: flex;
	flex-flow:wrap;
	margin-bottom:2.5%;
}

#sponsors-page div.row>div{
	margin-right: auto;
	margin-left: auto;
}
#sponsors-page p.row{
	text-align: center;
	font-weight: bold;
}
#sponsors-page>section.main-content>div.special>img{
	margin-left: auto;
	margin-right: auto;
}

#sponsors-page>section>div:not(.special)>div{
	width:25%;
}

#sponsors-page	div:not(special)>img{
	max-width: 80%;
}

#sponsors-page #associate-sponsors>div{
	width:33%;
}

#sponsors-page #associate-sponsors img{
	height: 70px;
}

#sponsors-page #ticketing img, #sponsors-page #title-sponsor img{
	height: 100px;
}

#ace{
	background:blue;
}

/*
******************************************************
				ENTRY-PROCEDURE
******************************************************
*/
#entry-procedure-page{
	min-height:65%;
	width:80%;
}
#entry-procedure-page section{
	padding:4%;
	font-family : 'Maven Pro', sans-serif;
}
#entry-procedure-page img{
	width:80%;
	margin:10%;
	height:auto;
}





/*
*******************************************************
				RESPONSIVENESS
*******************************************************
*/

@media only screen and (max-width:800px)
{

	body{
		font-size:large;
	}
	.content{
		display:flex;
		flex-flow:column;
	}

	.content, .event-content{
	/*	overflow:scroll;*/
		margin-left:0;
		margin-right:0;
	}

	.content .event
	{
		width:98%;
	}


	#competitions-page>.border{
		display: none;
	}

	#accomodation-page ol{
		padding-left:7vw;
	}


	.content, .main-content{
		flex-flow:column;
		width:100vw;
	}

	.main-content>.main-description,.main-content>.rules-prizes{
      width:80%;
      margin-left: auto;
      margin-right: auto;
	}

    .large-event-pic{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

	#logo{
		width: 20%;
		height:100%;
		max-height:7vh;
	}
	#top{
		display:flex;
		flex-flow:column;
		min-height:10vh;
	}

	#panel{
		display: none;
	}

	#panel nav ul{
		position:relative;
		display:flex;
		flex-flow:column;
		margin-left: 0;
		transform:unset;
		width:100%;
		border-top:1px solid grey;
		border-bottom:1px solid grey;
	}

	nav ul li{
		position:relative;
		padding:0;
		margin: 0;
		width: 95%;
		padding-left:5%;
		font-size:5vh;
		min-height:8vh;
	}

	#toggle{
		position:absolute;
		top:2vh;
		display:block;

		width: 10vw;
		height:6vh;
		transform: rotate(90deg);
		font-size:5vw;
		right:8vw;
	}

	.login{
		position: relative;
		transform: unset;
		margin-left: 10px;
		left: 0;
		top:0;
		font-size:5vh;
		min-height:8vh;
	}
	.signout{
		position: relative;
		transform: unset;
		margin-left: 10px;
		left: 0;
		top:0;
		font-size:5vh;
		min-height:8vh;
	}

	.title>h2{
		width: 80%;
		font-size:7vh;
	}

	.content .event>h1{
		font-size:7vh;
	}

	p{
		padding:5%;
		font-size:3vh;
	}

	div li{
		font-size:3vh;
		padding-left:5%;
	}

	.pokemon{
		min-width:50vw;
		min-height:50vh;
	}

	section header h3{
		font-size:7vh;
	}

	#event-category-page .pokemon, .small-event-pic{
		min-width:30vw;
		min-height:30vh;
		max-height:30vh;
		max-width: 50vw;
	}

	.left-clickable-box, .right-clickable-box{
		display: none;
	}

	.register-btn{
		font-size:7vh;
	}

	#closeloginpop{
		top:2px!important;
	}

	#moksha-login
	{
		width:90%!important;
		top:7%!important;
		height:90%!important;
		padding:0px!important;
		left:5%!important;
	}

	#moksha-login>.input-wrap{
		height:65%!important;
	}

	#small-events{
		margin:4vw;
		font-size: small;
	}

	.small-events-list{
		min-width: 35vw;
		margin:0;
		margin-right:5px;
	}

	#sponsors-page>section>div:not(.special)>div, #sponsors-page #associate-sponsors>div{
		width:100%;
	}

	#sponsors-page div.row{
		flex-flow: wrap;
	}
}
