#lightbox
{
  position:fixed;
  display:none;
  top:0px;
  left:0px;
  z-index:5;
  background-color:#FFF;
  opacity:0.8;
  width:100%;
  height:100%;
}
#moksha-login
{
  position:fixed;
  display:none;
  z-index:6;
  width:40%;
  left:25%;
  height:calc(80% - 100px);
  padding:50px;
  top:15%;
  background:url('../images/bg.png');
  box-shadow:0px 0px 8px #322F2F;

}
.head
{
  width:100%;
  height:60px;
  font-size:16px;
  line-height:32px;
  background-color: #FFF;
  opacity:0.9;
  display:flex;
}
.head>.tab
{
  height:calc(100% - 1px);
  text-align:center;
  line-height:52px;
  border-radius: 4px;
  font-size:26px;
  font-family: Mathlete;
	src: url(../fonts/Mathlete-Skinny.otf);
}
.head>.tab:hover
{
  cursor:pointer;
}
#moksha-login>.input-wrap
{
  width:calc(100% - 2px);
  height:calc(75% - 40px);
  padding-top:40px;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  background-color:#FFF;
  opacity:0.9;
}
#moksha-login>.input-wrap>input
{
  width:70%;
  border:none;
  border-bottom:1px solid #e5e5e5;
  outline:none;
  font-size:18px;
  margin:10px;
  margin-left:15%;
}
#moksha-login>.input-wrap>div.moksha-button
{
  width:70%;
  height:40px;
  text-align:center;
  line-height:40px;
  border:2px solid #4FD44F;
  border-radius:8px;
  color:#4FD44F;
  margin-top:10px;
  font-size:28px;
  font-family: Mathlete;
	src: url(../fonts/Mathlete-Skinny.otf);
  transition:background-color 0.4s,color 0.4s;
}
#moksha-login>.input-wrap>div.moksha-button:hover
{
  cursor:pointer;
  color:#FFF;
  background-color:#4FD44F;
}
.tab[data-tab="LogIn"]
{
  width:calc(50% - 2px);
  border-width:1px 1px 0px 1px;
  border-style:solid;
  border-color:#e5e5e5;
}
.tab[data-tab="Register"]
{

  width:50%;
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:#e5e5e5;
}
