body{
	overflow-x: hidden
}

#competitions-page{
	position: absolute;
	left: 10%;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition:all 1s linear;
	/*left: 10%;*/
}

#event-category-page{
	visibility : hidden;
	left: 100%;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;
	/*left: 0%;*/
}

#event-page{
	visibility : hidden;
	position: absolute;
	left:100%;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;
	/*left: 0;*/
}

#accomodation-page, #contact-page{
	visibility : hidden;
	position: absolute;
	left:100%;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;
}

@media only screen and (max-device-width:800px)
{
	#competitions-page{
		left:0;
	}
}