/* #competitions-page, #event-page{
	display:none;
} */

body{
	overflow: hidden;
}

#competitions-page{
	position: absolute;
	left: 10%;

	-webkit-transition: all 1s linear;
	/*left: 10%;*/
}

#event-category-page{
	left: 100%;

	-webkit-transition: all 1s linear;
	/*left: 0%;*/
}

#event-page{
	position: absolute;
	left:100%;

	-webkit-transition: all 1s linear;
	/*left: 0;*/
}