/*temp
header, div, footer, img, nav, ul, li{
	border:1px solid red;
}*/

html,body, header, h1, div, footer, img, nav, ul, li{
    margin:0;
    padding:0;
}

body{
    background:url('../images/bg.png');
    padding-bottom:15vh;
}

/*HEADER*/
#top{
    font-family:'Sans serif';
    font-size:large;
   text-transform: uppercase;
	position: relative;
	padding-top:1vh;
	padding-bottom: 1vh;
	padding-left: 4vw;
	padding-right: 2vw;
	background-color:white;
	display:flex;
}

img{
    display:inline;
    max-height: 10vh;
}

nav{
  padding-left:3vw;
	display: flex;
	flex-direction:column;
	justify-content:center;
}

nav ul{
    display: flex;
    flex-flow: row;
}

nav li{
	 display: block;
	 padding-left:2vw;
    list-style-type: none;
}

#login{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right: 10vw;
    
}

#title{
    background: transparent;
    text-align: center;
}


#title h1{
    width:25vw;
    background: url('../images/title_bg.png');
    background-size: cover;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:20vh;
}
/*CONTENT*/

h2{
    text-align: center;
}

#compt{
    display: flex;
    flex-flow:wrap;
    margin-left: 10vw;
    margin-right: 10vw;
}

.event{
  max-width:25%;
  text-align:center;
    
}

.description{
    display: flex;
}

.description #desc_cont{
    background-color: white;
    width:85%;
}

.description>#desc_cont>div{
    min-height: 70vh;
}

p{
    font-family: sans serif;
    font-size:small;
    text-align:start;
    padding:2vh;
}

ul{
    padding-left: 2vw;
}
li.event_item{
    font-weight: bold;
	text-align: left;
  list-style-type: none;
}

.pokemon{
    position: relative;
    top:7vh;
    max-height: 20vh;
}

.border{
    width:25%;
    background: url('../images/border.png');
    background-size: cover;
}

.last{
    visibility: hidden;
}