/****************************************************
                      theme.css
****************************************************/
.navbar.navbar-default
{
  height:60px;
}
.navbar-nav>li
{
  margin-top:4px;
}
.navbar-brand
{
  padding:1px 15px 1px 15px!important;
}
.navbar-brand>img
{
  width:90px;
}
